doctype 5
html
	head
		title= title
		<meta name='apple-mobile-web-app-capable' content='yes' />
		<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
		
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/sidebar.css')
		link(rel='stylesheet', href='/stylesheets/buttons.css')
		link(rel='stylesheet', href='/stylesheets/head.css')
		link(rel='stylesheet', href='/stylesheets/icons.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='/javascripts/sidebar.js')
		script(src='/javascripts/gestures.js')
		script(src='/javascripts/script.js')
		//- script(src='/javascripts/live.js')
	
	body
		.nav.nav-left
			ul
				li.nav-search: input(placeholder='Sök program, kanal, skådis', type='text', class='input-search')
				li.nav-header
				li.nav-item Logga in
				li.nav-header
				li.nav-item.active Tablå
				li.nav-item Välj kanaler
				li.nav-header 
				li.nav-item Feedback
				li.nav-item tv.nu på Facebook		

		.nav.nav-right
			ul
				li.nav-search: input(placeholder='Sök program, kanal, skådis', type='text', class='input-search')
				li.nav-header Dagar
				li.nav-item Igår
				li.nav-item.active Idag
				li.nav-item Imorgon
				li.nav-header Favoriter
				li.nav-item Du har inte lagt till några favoriter
		.main 
			.head
				ul
					li.head-item: i#btnSidebar.btn Meny
					li.head-item.head-title Tablå

			.contents
				for channel in channels
					.channel
						//- h2= channel.name
						h2: img.logo(src='http://static01.tv.nu/_new_logos/ldpi/#{channel.systemName}.gif')
						if channel.programs.length > 0
							.program.program-current 
								.time= channel.programs[0].startTime
								.title= channel.programs[0].title	
						if channel.programs.length > 1
							.program.program-next 
								.time= channel.programs[1].startTime
								.title= channel.programs[1].title	

	script
		window.addEventListener('load', function() {
			setTimeout(function(){
				window.scrollTo(1, 1);
			}, 0);
		});